:root {
    --color1: #FCFBE3;
    --color2: #FBCFCF;
    --color3: #CDBB99;
    --color4: #A37E58;
    --color5: #755C3B;
    --color5opacity: #755C3B99;
}

body {
    background-color:var(--color1);
    margin: 0;
    font-family: "roboto";
}

a {
    text-decoration: none;
    color: var(--color5);
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    width:100%;
    background-color:var(--color5);
}

header img {
    display:block;
    width: 180px;
    margin: 0 auto;
}

header ul {
    padding:0;
    width: 325px;
    margin: auto;
}

header li {
    display: inline-block;
    margin: 5px;
    width: 150px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: var(--color2);
    border-radius: 10px;
    text-align: center;
}

main {
    text-align: center;    
}

main div.BorderDeco {
    width:100%;
    height: 50px;
    background-color: var(--color2);
    clip-path: polygon(0% 0%, 0% 100%, 50% 50%, 100% 100%, 100% 0%);
}

main p {
    color: var(--color5)
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    height: 104px;
    background-color: var(--color2);
}

footer p {
    display:inline-block;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--color5)
}

footer ul {
    display: inline-block;
    padding:0;
    position: absolute;
    right: 20px;
}

.form-container {
    margin: 0 auto;
    padding-top: 10px;
    width: 70%;
    height: 350px;
    background-image: url(../img/brigadeiro.png);
    background-size: cover;
    border-radius: 60px;
}

.cadastro {
    height: 380px;
}

form {
    margin: 0 auto;
    width: 60%;
    height: 300px;
    background-color: var(--color5opacity);
    border-radius: 30px;
}

.cadastro form {
    height: 350px;
}

form h2 {
    padding: 40px 0 0 0;
    color: var(--color1);
}

form label{
    display: block;
    margin: 20px;
    color: var(--color1);
}

form input {
    max-width: 80%;
    background-color: var(--color4);
    border: none;
    border-radius: 5px;
    color: var(--color1);
}

form input::placeholder {
    color: var(--color1);
    opacity: .4;
}

form button {
    display: block;
    margin: 10px auto;
    padding: 10px 30px;
    background-color: var(--color2);
    color: var(--color5);
    text-transform: uppercase;
    border: none;
    border-radius: 10px;;
}

form button:hover {
    background-color: var(--color5);
    color: var(--color1);
    cursor: pointer;
}

form p, form a {
    padding: 10px 20px;
    display: inline-block;
    color: var(--color1)
}

form a:hover {
    background-color: var(--color2);
    color: var(--color5);
    border-radius: 10px;
}

form p {
    transform: translateY(-5%);
}

form img {
    width: 20px;
}