<footer>
    <p>Candy Sphere&trade; desenvolvido pela equipe SC005</p>
    <!--
    <ul class="SocNav">
        <li><a href="">Facebook</a></li>
        <li><a href="">Tweeter</a></li>
        <li><a href="">Pinterest</a></li>
        <li><a href="">Instagram</a></li>
    </ul>
    -->
</footer>