<!DOCTYPE html>
<html lang="pt-br">

    <%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

        <main id="administracao">
            <div class="adminCardContainer">
                <section class="logo">
                    <img src="./img/productIco.svg" alt="">
                </section>
                <section class="description">
                    <h3>Produtos</h3>
                    <p>no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no</p>
                </section>
            </div>
            <div class="adminCardContainer">
                <section class="logo">
                    <img src="./img/inventoryIco.png" alt="">
                </section>
                <section class="description">
                    <h3>Estoque</h3>
                    <p>no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no</p>
                </section>
            </div>
            <div class="adminCardContainer">
                <section class="logo">
                    <img src="./img/ledgerIco.svg" alt="">
                </section>
                <section class="description">
                    <h3>Receituário</h3>
                    <p>no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no</p>
                </section>
            </div>
        </main>

        <%- include('./partials/footer') %>

        <%- include('./partials/scripts') %>

    </body>

</html>