<!DOCTYPE html>
<html lang="pt-br">

    <%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

        <main id="financeiro">
            <article id="Visualizacao">
                <section class="itemViewHeader">
                    <span class="material-icons">insert_chart</span><h2>Financeiro<h2>
                </section>
                <section class="itemViewMain">
                    <section class="itemViewBody produto">
                        <section class="adminCardContainer">
                            <section class="logo">
                                <span class="material-icons">pie_chart</span>
                            </section>
                            <section class="description">
                                <h3>Receitas x Despesas</h3>
                                <p>Descrição do relatório</p>
                            </section>
                            <section class="adminCardFooter">
                                <button class="material-icons" onclick="window.location.href='/financeiro/receitas'">remove_red_eye</button>
                            </section>
                        </section>
                        <section class="adminCardContainer">
                            <section class="logo">
                                <span class="material-icons">local_grocery_store</span>
                            </section>
                            <section class="description">
                                <h3>Vendas</h3>
                                <p>Relatório de vendas</p>
                            </section>
                            <section class="adminCardFooter">
                                <button class="material-icons" onclick="window.location.href='/financeiro/vendas'">remove_red_eye</button>
                            </section>
                        </section>
                        <section class="adminCardContainer">
                            <section class="logo">
                                <span class="material-icons">insert_chart</span>
                            </section>
                            <section class="description">
                                <h3>Relatório 3</h3>
                                <p>Descrição do relatório</p>
                            </section>
                            <section class="adminCardFooter">
                                <button class="material-icons" onclick="window.location.href='#'">remove_red_eye</button>
                            </section>
                        </section>
                        <section class="adminCardContainer">
                            <section class="logo">
                                <span class="material-icons">bubble_chart</span>
                            </section>
                            <section class="description">
                                <h3>Relatório 4</h3>
                                <p>Descrição do relatório</p>
                            </section>
                            <section class="adminCardFooter">
                                <button class="material-icons" onclick="window.location.href='#'">remove_red_eye</button>
                            </section>
                        </section>
                        <section class="adminCardContainer">
                            <section class="logo">
                                <span class="material-icons">scatter_plot</span>
                            </section>
                            <section class="description">
                                <h3>Relatório 5</h3>
                                <p>Descrição do relatório</p>
                            </section>
                            <section class="adminCardFooter">
                                <button class="material-icons" onclick="window.location.href='#'">remove_red_eye</button>
                            </section>
                        </section>
                    </section>
                </section>
            </article>      
        </main>
    
        <%- include('./partials/footer') %>
        <script type="text/javascript" src="/javascript/shared.js"></script>
    </body>
</html>

