<!DOCTYPE html>
<html lang="pt-br">

    <%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

        <main id="home">
            <img src="/images/logo.png" alt="">
            <h2>Bem vindo!</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem cusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                ratione voluptatem sequi nesciunt.
            </p>        
        </main>

        <%- include('./partials/footer') %>

    </body>

</html>