<!DOCTYPE html>
<html lang="pt-br">

    <%- include('./partials/head') %>

    <body>

    <main class="form-container">
        <form action="/" method="POST">
            <img class="logo" src="images/logo.png" alt="">
            <h2>Login</h2>
            <label for="email">E-mail: <input type="email" id="email" name="email"></label>
            <label for="password">Senha: <input type="password" id="password" name="password"></label>
            <button type="submit">Entrar</button>
        </form>
    </main>

  </body>
</html>
