<!DOCTYPE html>
<html lang="pt-br">

    <%- include('./partials/head') %>

    <body id="loginBody">

    <main class="form-container">
        <form action="/logar" method="POST">
            <img class="logo" src="images/logo.png" alt="">
            <h2>Login</h2>
            <label for="email">Login: <input type="text" id="email" name="nome_usuario" height="40px"></label>
            <label for="password">Senha: <input type="password" id="password" name="senha" height="40px"></label>
            <button type="submit">Entrar</button>
        </form>
    </main>

  </body>
</html>
