<!DOCTYPE html>
<html lang="pt-br">

    <%- include('./partials/head2') %>

    <body id="loginBody">

    <main class="form-container">
        <img class="logo" src="images/logo.png" alt="">
        <div id="login">
        <form action="/logar" method="POST" id="form-login">
            <div id="infUser"><h2>Login</h2></div>
            <label for="email">Login:</label>
                <input
                    type="text" 
                    id="email" 
                    name="nome_usuario" 
                    height="40px"
                    placeholder="Digite seu nome de usuário"
                />
            
                <label for="password">Senha:</label>
                <input
                    type="password"
                    id="password"
                    name="senha"
                    height="40px"
                >
            <button type="submit">Entrar</button></span>
        </form>
    </div>
    </main>

  </body>
</html>
