<!DOCTYPE html>
<html lang="pt-br">

    <%- include('./partials/head2') %>

    <body id="loginBody">

    <main class="form-container">
        <img class="logo" src="images/logo.png" alt="">
        <div id="login">
        <form action="/logar" method="POST" id="form-login">
            <center><h2>Entre com seus dados de acesso!</h2></center>
            <div id="msgLogin">
                <% if(typeof msgUser !=='undefined') { %>
                    <%= msgUser %>
                <% }%>
            </div>
            <!-- <label for="email">Login:</label> -->
                <input
                    type="text" 
                    id="email" 
                    name="nome_usuario" 
                    height="40px"
                    placeholder="Digite seu nome de usuário"
                />
<<<<<<< HEAD
                <!-- <label for="password">Senha:</label> -->
=======
            
                <label for="password">Senha:</label>
>>>>>>> tentando layout
                <input
                    type="password"
                    id="password"
                    name="senha"
                    height="40px"
<<<<<<< HEAD
                    placeholder="Digite sua senha"
=======
>>>>>>> tentando layout
                >
            <button type="submit">Entrar</button></span>
        </form>
    </div>
    </main>

  </body>
</html>
