<!DOCTYPE html>
<html lang="pt-br">

    <%- include('./partials/head') %>
 
    <body id="loginBody">

    <main class="form-container">
        <div id="login">
            <div style="display: flex;">
				<img id="form-login-logo" src="/images/logo2.png" alt="Logo Candy Sphere">
			</div>
            <form id="form-login" method="POST">
                <center><h2>Vamos gerar uma nova senha!</h2></center>
                <div id="form-groups style="width: 90%">
                <input
                    type="email" 
                    id="email" 
                    name="email" 
                    height="80%"
                    placeholder="Digite seu e-mail de cadastrado"
                /></div>
                <input
                    type="password" 
                    id="newPassword" 
                    name="newPassword" 
                    height="80%"
                    placeholder="Digite sua nova senha"
                />
                <input
                    type="password" 
                    id="newPasswordConfirm" 
                    name="newPasswordConfirm" 
                    height="80%"
                    placeholder="Digite novamente sua nova senha"
                />
                
                <div id="retornoReset" class="">
                    <% if(typeof msgUser !=='undefined' && msgUser.length > 0) { %>
                            <%= msgUser %>
                    <% } %> 
                </div>
                <section>
                    <button type="button" class="material-icons" onClick="window.location.replace('/')">arrow_back</button>
                    <button id='newPassSubmit' type="submit" class="material-icons">check_circle_outline</button>
                </section>
        </form>

        <script type="text/javascript" src="/javascript/auth/recovery.js"></script>
        <script type="text/javascript" src="/javascript/shared.js"></script>

    </div>
    </main>

  </body>
</html>
