<!DOCTYPE html>
<html lang="pt-br">

    <%- include('./partials/head') %>
 
    <body id="loginBody">

    <main class="form-container">
        <div id="login">
            <div style="display: flex;">
				<img id="form-login-logo" src="/images/logo2.png" alt="Logo Candy Sphere">
			</div>
            <form id="form-login" action="#">
                <center><h2>Esqueçeu sua senha?</h2></center>

                <div>
                    <!-- <p>
                        Não tem problemas! Nós iremos te ajudar com isto
                    </p> -->
                    <p>
                        Basta preencher seu e-mail no campo abaixo que em breve você receberá uma mensagem com as instruções em seu email cadastrado
                    </p>

                </div>
                
                <input
                    type="email" 
                    id="email" 
                    name="email" 
                    height="80%"
                    placeholder="Digite seu e-mail de cadastrado"
                />
                <div id="retornoReset" class="">
                    <% if(typeof msgUser !=='undefined' && msgUser.length > 0) { %>
                            <%= msgUser %>
                    <% } %> 
                </div>
                <div id="">

                </div>
                <section>
                    <button id='recoverySubmit' type="submit" class="material-icons" onClick="">check_circle_outline</button>
                    <button type="button" class="material-icons" onClick="retornar()">arrow_back</button>
                </section>
        </form>

        <script type="text/javascript" src="/javascript/auth/recovery.js"></script>
        <script type="text/javascript" src="/javascript/shared.js"></script>

    </div>
    </main>

  </body>
</html>
