/*Inicialização de variáveis e definições globais*/
:root {
    --color1: #FCFBE3;
    --color2: #FBCFCF;
    --color3: #CDBB99;
    --color4: #A37E58;
    --color5: #755C3B;
    --color5opacity: #755C3B99;
    --headerHeight: 22vh;
    --footerHeight: 30px;
    --contentWidth: 96%;
}

body {
    background-color: var(--color1);
    margin: 0;
    font-family: "roboto";
    font-size: 16px;
    color: var(--color5);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color5);
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none; display: none; 
}

input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none; display: none;
}  */

/* Configurações do cabeçalho */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: var(--contentWidth);
    align-self: center;
    /*height: var(--headerHeight);*/
    background-color: var(--color5);
    padding-top: 1%;
}

#systemTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 1150px;
}

header #logo {
    height: 4em;
    margin-left: calc(100% - var(--contentWidth));
}

#systemTitle h1 {
    color: var(--color1);
    font-size: 1.5em;
}

#logout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
    max-height: 30px;
    width: 10vw;
    max-width: 128px;
    box-sizing: border-box;
    background-color: var(--color2);
    border: none;
    border-radius: 1em;
    font-size: .8em;
    font-weight: bold;
    margin-right: calc(100% - var(--contentWidth));
}

#logout:hover {
    background-color: var(--color5);
    color: var(--color1);
    cursor: pointer;
    border: 1px solid var(--color2);
}

#logout img {
    width: 15%;
}

.BorderDeco {
    width: 100%;
    height: 20px;
    background-color: var(--color2);
    clip-path: polygon(0% 0%, 0% 100%, 50% 50%, 100% 100%, 100% 0%);
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header input {
    display: none;
}

header label#icone-sanduiche {
    display: none;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
    padding: 0;
}

header li {
    margin: 0px;
    width: 8em;
    padding: 5px 0px;
    box-sizing: border-box;
    background-color: var(--color5);
    border: 1px solid var(--color2);
    text-align: center;
}

header li a {
    color: var(--color2);
}

header li.active {
    background-color: var(--color2);
    border: 1px solid var(--color5);
    border-bottom: none;
}

header li.active a {
    color: var(--color5);
}

header li:first-child {
    border-radius: 1.25em 0 0 0;
}

header li:last-child {
    border-radius: 0 1.25em 0 0;
}

/*Configurações do rodapé*/
footer {
    display: flex;
    align-self: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    width: var(--contentWidth);
    height: var(--footerHeight);
    background-color: var(--color2);
}

footer ul {
    position: absolute;
    right: 25px;
    margin: auto 0;
}

/*Configurações das telas de login e cadastro*/
#loginBody {
    justify-content: center;
    align-items: center;
}
#loginBody *, *:before, *:after { 
    margin:10px;
    /* padding:0px; */
}

 /* remove a linha dos links */
#loginBody a{
text-decoration: none;
}
/* esconde as ancoras da tela */
#loginBody a.links{
    display: none;
    }
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
    margin: 5px auto 5px auto;
    padding: 5px;
    background-image: url('/images/brigadeiro.png');
    background-size: cover;
    border-radius: 60px;
}

#form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    width: 30vw;
    height: 400px;
    background-color: var(--color5opacity);
    border-radius: 30px;
}

form img.logo {
    width: 40%;
}

form h2 {
    color: var(--color1);
    font-size: 1.5em;
}

form label {
    min-width: 250px;
    width: 30vw;
    margin: 10px;
    color: var(--color1);
    text-align: center;
}

form input {
    max-width: 300px;
    width: 90%;
    height: 40px;
    background-color: var(--color4);
    border: none;
    border-radius: 5px;
    color: var(--color1);
    text-align: center;
    font-size: 20px;
}

form button {
    display: block;
    margin: 10px auto;
    padding: 10px 30px;
    background-color: var(--color2);
    color: var(--color5);
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    border: 1px solid var(--color2);
    margin-bottom: 20px;
}

form button:hover {
    background-color: var(--color5);
    color: var(--color1);
    cursor: pointer;
    border: 1px solid var(--color2);
}

#msgLogin {
    color: var(--color2);
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: -moz-available;
    height: 40px;
}

/*Configurações do corpo*/
main {
    display: flex;
    justify-content: center;
    width: var(--contentWidth);
    align-self: center;
    flex-grow: 1;
    background-color: var(--color4);
    color: var(--color1);
    overflow-y: auto;
}

/*Configurações do corpo Home*/
#home img {
    height: 30%;
}

#home h2 {
    text-transform: capitalize;
}

#home p {
    margin: 0 10%;
}

/*Configurações do corpo Administração*/
.adminCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 30px 10px;
    width: 18.75em;
    height: 320px;
    border: 2px solid var(--color5);
    border-radius: 3em;
    box-shadow: 2px 2px 5px var(--color4);
}

.adminCardContainer section.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: var(--color2);
    border-radius: 3em 3em 0 0;
}

.adminCardContainer section.logo .material-icons {
    font-size: 5em;
    color: var(--color5);
}

.adminCardContainer section.description {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    color: var(--color5);
    background-color: var(--color1);
    overflow-y: auto;
}

.adminCardContainer section.description p {
    margin: 0;
}

.adminCardContainer section.description h3 {
    margin: 8px 0;
}

.adminCardFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5em;
    background-color: var(--color2);
    border-top: 1 solid var(--color5);
    box-shadow: 0 -2px 5px var(--color5);
    border-radius: 0 0 3em 3em;
}

.adminCardFooter button {
    margin: 0 15px;
    padding: 5px;
    font-size: 2em;
    background-color: var(--color5);
    color: var(--color1) !important;
    border: 2px solid var(--color1);
    box-shadow: 0 0 0 5px var(--color5);
    border-radius: 1.25em;    
}

.adminCardFooter button:hover {
    background-color: var(--color2);
    color: var(--color5);
    border: 2px solid var(--color5);
    box-shadow: 0 0 0 5px var(--color2);
    transition: .5s;
}

/*Configuração cards de receitas */
.adminCardContainer section.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: var(--color2);
}

/* Configuração da tela de visualização de receitas */
#Visualizacao {
    align-self: flex-start;
    width: 95%;
    max-width: 1000px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    background-color: var(--color1);
    z-index: 2;
    border-radius: 1em;
}

#Visualizacao * {
    color: var(--color5);
}

.itemViewHeader {
    height: 10%;
    background-color: var(--color2);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-bottom: 2px solid var(--color5);
    border-radius: 1em 1em 0 0;
}

.itemViewHeader * {
    /* display: flex;
    align-items: center; */
    margin-left: 20px;
    /* margin-right: 10px; */
}

.itemViewHeader span{
    font-size: 2.5em;
}

/*
.itemViewHeader button {
    margin: 0 .5em;
    padding: 5px;
    font-size: .8em;
    background-color: var(--color5);
    color: var(--color1) !important;
    border: 2px solid var(--color1);
    box-shadow: 0 0 0 5px var(--color5);
    border-radius: 1.25em;
}

.itemViewHeader button:hover {
    background-color: var(--color2);
    color: var(--color5) !important;
    border: 2px solid var(--color5);
    box-shadow: 0 0 0 5px var(--color2);
}
*/

.itemViewMain {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    padding-bottom: 15px;
    margin: 10px 0 0 20px;
}

.itemViewDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    border-bottom: 1px solid var(--color5);
}

.itemViewDesc img {
    width: 50%;
    border: 3px solid var(--color5);
    border-radius: 30px;
}

.itemViewDesc h3 {
    text-transform: capitalize;
    font-size: 1.25em;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.sectionDivider {
    background-color: var(--color5);
    color: var(--color1) !important;
    margin: 0 0 0 10px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    top: -25px;
    text-transform: capitalize;
}

.itemInfo {
    border: 1px solid var(--color5);
    border-radius: 10px;
    margin: 30px 20px 30px 0;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.itemInfo.center *:not(h4) {
    align-self: center;
}

.itemInfo p {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.itemInfo p.dataInput[type="text"] {
    flex-grow: 1;
}

.dataInput {
    max-width: initial;
    height: auto;
    padding: 10px;
    background-color: var(--color2);
    font-size: 1em;
}

.number {
    max-width: 8em;
}

.dataInput[type="file"] {
    width: 80%;
    font-size: smaller;
    margin-top: 5px;
}

.dataInput[type="number"] {
    width: 4em;
}

.dataInput[type="text"] {
    flex: 1;
}

.dataListComponent {
    flex: 1;
}

.large {
    min-width: 75%;
    text-align: center;
}

textarea {
    flex-grow: 1;
    flex-basis: 100%;
    margin-top: 8px;
}

#Visualizacao label {
    min-width: initial;
    width: auto;
}

.itemViewFooter {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    padding: 15px;
    border-top: 1px solid var(--color5);
    box-shadow: 0 -2px 5px var(--color5);
    background-color: var(--color2);
    border-radius: 0 0 1em 1em;
}

.itemViewFooter button, .modalFooter button {
    margin: 0 15px;
    padding: 5px;
    font-size: 2em;
    background-color: var(--color5);
    color: var(--color1) !important;
    border: 2px solid var(--color1);
    box-shadow: 0 0 0 5px var(--color5);
    border-radius: 1.25em;
}

.itemViewFooter button:hover, .modalFooter button:hover {
    background-color: var(--color2);
    color: var(--color5) !important;
    border: 2px solid var(--color5);
    box-shadow: 0 0 0 5px var(--color2);
    transition: .5s;
}

.addRemItem {
    margin: 0 15px;
    padding: 5px;
    font-size: 1em;
    background-color: var(--color5);
    color: var(--color1) !important;
    border: 2px solid var(--color1);
    box-shadow: 0 0 0 5px var(--color5);
    border-radius: 1.25em;
}

.addRemItem:hover {
    background-color: var(--color2);
    color: var(--color5) !important;
    border: 2px solid var(--color5);
    box-shadow: 0 0 0 5px var(--color2);
    transition: .5s;
}

#addIng, #addInst {
    align-self: center;
}

/* Configuração da tela de estoque */

#administracaoEstoque {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#administracaoEstoque table {
    border-collapse: collapse;
    justify-self: center;
    margin: 20px 0;
    box-shadow: 0 0 8px black;
}

#administracaoEstoque table thead {
    background-color: var(--color2);
    color: var(--color5);
    text-align: center;
}

#administracaoEstoque th {
    height: 2.5em;
    padding: 0 10px;
    border: 1px solid var(--color5);
}

#administracaoEstoque table tbody {
    background-color: var(--color1);
    color: var(--color5);
}

/*
#administracaoEstoque table tr:hover {
    background-color: var(--color3);
    transition: .4s;
}*/

#administracaoEstoque td.center {
    text-align: center;
}

a.btn.material-icons:hover {
    color: var(--color2);
    transition: .5s;
    cursor: pointer;
}

/* Configuração cards de produtos*/
#Visualizacao.produto {
    width: 80vw;
}

.itemViewBody.produto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.adminCardContainer.produtos {
    width: 14em;
    height: 300px;
    text-align: center;
}

.adminCardContainer.produtos .foto {
    border-radius: 3em 3em 0 0;
}

.adminCardContainer.produtos.formProdutos {
    display: block;
    min-width: 0px;
    width: 100%;
    height: auto;
    background-color: inherit;
    padding: 0;
    margin: 0;
}

/* Configurações PDV */
.modal {
    width: 60%;
    max-height: 80%;
    overflow-y: auto;
    padding: 8px;
    display: flex;
    background-color: var(--color1);
}

.conteudoModal {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 5px solid var(--color5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalHeader h2 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
}

.fecharModal {
    align-self: flex-end;
    width: 20px;
    height: 20px;
    font-size: 10px;
    background-color: var(--color2);
    border-radius: 30px;
    border: 2px solid var(--color5);
    box-shadow: 0px 0px 0px 3px var(--color2);
    color: var(--color5);
    z-index: 2000;
}

.fecharModal:hover {
    background-color: var(--color5);
    color: var(--color1);
    cursor: pointer;
    border: 1px solid var(--color2);
}

.modalMain {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

#compras {
    min-width: 80%;
    border-collapse: collapse;
    border: 2px solid var(--color5);
    box-shadow: 0 0 8px black;
    text-align: center;
}

#compras th {
    background-color: var(--color2);
    padding: 10px;
    border: 1px solid var(--color5);
}

#compras td {
    padding: 5px;
}

#compras input {
    color: var(--color5);
    background-color: var(--color1);
    border: 1px solid var(--color5);
    width: 5em;
    text-align: center;
    font-size: 1em;
    border-radius: .25em;
}

.modalFooter button {
    padding: 10px;
    margin: 15px;
}

#clienteInvalido.PDVError, #pagamentoInvalido.PDVError, #tipoUnError.receitaError {
    color: red;
    text-align: center;
    display: inline-block;
    width: auto;
}

#clienteInvalido.PDVError.hidden, #pagamentoInvalido.PDVError.hidden, #tipoUnError.receitaError.hidden {
    display: none; 
}

/* ###### FINANCEIRO ######### */

#dash-board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#dash-board form {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#periodo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

form#datas label#btn-label {
    color: var(--color5);
}

#periodo .input-data {
    margin-right: 15px;
}

#btn-data:hover {
    background-color: var(--color5);
    color: var(--color1);
    cursor: pointer;
    border: 1px solid var(--color2);
}

form#datas input {
    width: 7.5em;
    height: 1.8em;
    margin-left: 5px;
    background-color: var(--color2);
    color: var(--color5);
    text-align: center;
    font-weight: bold;

}

#dash-board #cards {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#dash-board #cards .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

section#dash-board div#cards div.card-main {
    width: 12.5em;
    height: 3.75em;
    background-color: var(--color1);
    border-radius: 8px;
    box-shadow: 0px 2px 3px black;
    display: flex;
    align-items: center;
    margin: 5px 10px;
}


section#dash-board div#cards div.card-main div.card-left {
    width: 3.75em;
    height: 3.75em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px 8px;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color5);
    margin-right: 5px;
}

section#dash-board div#cards div.card-main div.card-left span {
    font-size: 2em;
}

section#dash-board div#cards div.card-main div.card-dados {
    color: var(--color5);
    padding-right: 5px;
    text-align: left;
}

section#dash-board div#cards div.card-main div.card-dados div {
    font-weight: bold;
}

main#financeiro section #graficos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 48px;
}

main#financeiro section #graficos .grafico-meio {
    max-width: 100%;
    width: 25em;
    height: 12.5em;
    background-color: var(--color1);
    border-left: 1.125em solid var(--color2);
    box-shadow: 0px 1px .6em black;
    margin: 15px 5px;
}

main#financeiro section #graficos .grafico-baixo {
    max-width: 100%;
    width: 100%;
    height: 15%;
    background-color: var(--color1);
    border-left: 1.125em solid var(--color2);
    box-shadow: 0px 1px .6em black;
    margin: 15px 5px;
    padding: 10px;
}

main#financeiro section #graficos .grafico-vendas-meio {
    max-width: 100%;
    width: 25em;
    height: 12.5em;
    background-color: var(--color1);
    border-left: 1.125em solid var(--color2);
    box-shadow: 0px 1px .5625em black;
    margin: 15px 10px;
}

main#financeiro section #graficos .grafico-vendas-radar {
    max-width: 100%;
    width: 37.5em;
    height: 18.75em;
    background-color: var(--color1);
    border-left: 1.125em solid var(--color2);
    box-shadow: 0px 1px .5625em black;
    margin: 15px 10px;
}


/* ############### Inicio do Clientes ################# */

/*  */



section#tabela-corpo {
    width: -webkit-fill-available;
    height: 100vh;
    margin: 0 auto;
}

section#tabela-corpo h2 {
    color: var(--color5);
    text-align: center;
}

section#tabela-corpo table#tabela-cliente {
    background-color: var(--color1);
    color: var(--color5);
    width: 70%;
    margin: 20px auto;
}

section#tabela-corpo table#tabela-cliente tbody {
    overflow: auto;
}


section#tabela-corpo table#tabela-cliente,
td {
    border-collapse: collapse;
    border: 1px solid var(--color4);
}

section#tabela-corpo table#tabela-cliente tr th {
    text-align: center;
    color: var(--color5);
    display: fixed;
    background-color: var(--color2);
    height: 35px;
    border-collapse: collapse;
    border: 1px solid var(--color4);

}


section#tabela-corpo table#tabela-cliente tbody tr:hover {
    background-color: var(--color3);
    transition: .4s;

}


section#tabela-corpo table#tabela-cliente tr td {
    text-align: center;
    height: 35px;


}

section#tabela-corpo table#tabela-cliente tr td span.profile {
    font-size: 40px;
}

section#tabela-corpo table#tabela-cliente tr td.nome-campo,
section#tabela-corpo table#tabela-cliente tr td.email-campo {
    text-align: left;
    padding-left: 10px;

}

section#tabela-corpo table#tabela-cliente tr td a.btn-acao :hover {

    color: var(--color2);
    transition: .5s;


}

section#tabela-corpo div.add-cliente {
    display: flex;
    justify-content: center;
}

section#tabela-corpo div.add-cliente a {
    position: fixed;
    top: 75%;
    z-index: 1000;
}

section#tabela-corpo div.add-cliente a span {
    font-size: 50px;
    text-shadow: 0px 3px 7px black;
    color: var(--color2);
}

div.add-cliente a :hover {
    background-color: var(--color2);
    border-radius: 50px;
    transition: all .3s linear;
}

.lougradouro{
    display: flex;
  
}
.lougradouro div{
    width: auto;
}

.lougradouro #nome-cliente{
   width: 100%;
}
 #numero-cliente{
  
  }

.dados-numero{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
 
 
    
}
.dados-complemento{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
     ;
    
}
.dados-end-pai{
    display: flex;
}
/* section#tabela-corpo div.add-cliente a span:hover {
    text-shadow: none;
    color: var(--color5);
} */

section#tabela-corpo div.add-funcionario {
   
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-bottom: 15px;
}



section#tabela-corpo div.add-funcionario a span {
    font-size: 20px;
    text-shadow: 0px 3px 7px black;
    color: var(--color1);
    margin: 0px;
    padding: 0;

}
section#tabela-corpo div.add-funcionario a i {
    text-shadow: 0px 3px 7px black;
    color: var(--color1);
    margin: 0px;
    padding: 0;
    font-size: 15px;

}

/* div.add-funcionario a :hover {
    background-color: var(--color1);
    border-radius: 1000px;
    transition: all .3s linear;
    padding: 5px;
} */

/* section#tabela-corpo div.add-funcionario a span:hover {
    text-shadow: none;
    color: var(--color5);
}
section#tabela-corpo div.add-funcionario a i:hover {
    text-shadow: none;
    color: var(--color5);
    height: 37px;
} */

section#tabela-corpo div.add-funcionario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

section#tabela-corpo div.add-funcionario a {
    
    top: 75%;
    
}

section#tabela-corpo div.add-funcionario a span {
    font-size: 22px;
    text-shadow: 0px 3px 7px black;
    color: var(--color1);
    margin: 0px;
    padding: 0;

}
section#tabela-corpo div.add-funcionario a i {
    text-shadow: 0px 3px 7px black;
    color: var(--color1);
    margin: 0px;
    padding: 0;

}

div.add-funcionario a :hover {
    /* background-color: var(--color1); */
    border-radius: 1000px;
    transition: all .3s linear;
    padding: 5px;
}

section#tabela-corpo div.add-funcionario a span:hover {
    text-shadow: none;
    color: var(--color5);
}
section#tabela-corpo div.add-funcionario a i:hover {
    text-shadow: none;
    color: var(--color5);
  
}

section#tabela-corpo table#tabela-cliente tr td.email-campo {
    text-align: left;
}

#usuario {
    background-color: var(--color5);
    width: 10px;
    height: 20px;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.637);
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;

}
#btn-modal{
    display: flex;
   justify-content: flex-end;
   width: 90%;
}
#btn-modal input{
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    }
    #btn-modal input:hover{
        background-color: var(--color2);
        color: var(--color5);
        transition: all .4s linear ;
    }

.mostrar {
    display: flex;
}

/* Inicio do Cadastro Modal */
#conteudo-modal {
    width: 60%;
    text-align: end;
    display: flex;
    justify-content: center;

}

@keyframes conteudo-modal {
    from {
        opacity: 0px;
        transform: translate3d(0, -100px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}

.mostrar #conteudo-modal {
    animation: conteudo-modal 1s;
}

.btn-fechar {

    position: relative;
    width: 100%;


}

.fechar-modal {
    width: 20px;
    height: 20px;
    display: block;
    font-size: 10px;
    background-color: var(--color2);
    border-radius: 30px;
    border: 2px solid var(--color5);
    box-shadow: 0px 0px 0px 3px var(--color2);
    color: var(--color5);
    z-index: 2000;
    position: absolute;
    top: -10px;
    right: 0px;

}

#form-cliente * {
    padding: 0px;
    margin: 0px;
}

#form-cliente {
    background-color: var(--color1);
    width: 100%;
    display: flex;
    justify-content: space-around;
    height:auto;
    border: 5px solid var(--color5);
    box-shadow: 0px 0px 0px 8px var(--color1);
    flex-direction: column;
    align-items: center;
}

#form-cliente h1 {
    color: var(--color5);

}

#form-cliente label {
    color: var(--color5);
    text-align: left;
}

#label-cliente {
    width: 90%;
    display: block;
    text-align: left;
}

#form-cliente input {
    margin-bottom: 10px;
    height: 30px;
}

#form-cliente .input-cadastro{
    background-color: var(--color1);
    border: 1px solid var(--color5);
    color: var(--color5);
    font-size: 20px;
    max-width: 100%;
    display: block;
}
#form-cliente select{
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
}
#form-cliente input[type=submit]:hover{
    background-color: var(--color2);
    color: var(--color5);
    box-shadow: 0px 0px 8px var(--color5);
    cursor: pointer;
}
/* fim da css clientes */

@media screen and (max-width: 800px) {
    body {
        font-size: 12px;
    }

    header label#icone-sanduiche {
        display: inline-block;
        font-size: 2.5em;
        color: var(--color2);
        border: 2px solid var(--color2);
        border-radius: 10px;
    }

    header label#icone-sanduiche:hover {
        color: var(--color5);
        background-color: var(--color2);
        cursor: pointer;
    }

    header ul {
        height: 0;
        width: 65%;
        transition: height 2s linear;
    }

    header input#menu:checked~#mainNav {
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .modal {
        width: 95%
    }
    header li:nth-child(3) {
        border-radius: 0 1.25em 0 0;
    }

    header li:nth-last-child(2) {
        border-radius: 0 0 0 1.25em;
    }

    header li:last-child {
        border-radius: 0 0 1.25em 0;
    }

    header li:nth-child(2) {
        border-radius: 0 0 0 0;
    }
}

/* Max-width para transição sem alterar font-size: 615px */

@media screen and (max-width: 461px) {
    header li:nth-child(2) {
        border-radius: 0 1.25em 0 0;
    }

    header li:nth-last-child(2) {
        border-radius: 0 0 1.25em 0;
    }

    header li:nth-last-child(3) {
        border-radius: 0 0 0 1.25em;
    }

    header li:last-child {
        border-radius: 0 0 1.25em 1.25em;
    }
}

@media screen and (max-width: 307px) {
    header li:first-child {
        border-radius: 1.25em 1.25em 0 0;
    }

    header li:nth-child(2) {
        border-radius: 0 0 0 0;
    }

    header li:nth-child(3) {
        border-radius: 0 0 0 0;
    }

    header li:nth-child(4) {
        border-radius: 0 0 0 0;
    }

    header li:last-child {
        border-radius: 0 0 1.25em 1.25em;
    }
}

@media(max-width: 520px) {

    th.email-head,
    td.email-campo {
        display: none;
    }
}

/*Inicio Configuração Ver Funcionário */
section#tabela-corpo table#tabela-funcionario {
    background-color: var(--color1);
    color: var(--color5);
    width: 40%;
    margin: 20px auto;
}
@media(max-width:600px){
    section#tabela-corpo table#tabela-funcionario {
        background-color: var(--color1);
        color: var(--color5);
        width: 90%;
        margin: 20px auto;
    }
}

section#tabela-corpo table#tabela-funcionario tbody {
    overflow: auto;
}


section#tabela-corpo table#tabela-funcionario,
td {
    border-collapse: collapse;
    border: 1px solid var(--color4);
}

section#tabela-corpo table#tabela-funcionario tr th {
    text-align: center;
    color: var(--color5);
    display: fixed;
    background-color: var(--color2);
    height: 35px;
    border-collapse: collapse;
    border: 1px solid var(--color4);
}

#titulo-card-ver-funcionario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
   
}

#titulo-card-ver-funcionario span {
    font-size: 25px;


}

#titulo-card-ver-funcionario .material-icons {
    font-size: 30px;
   
}

#foto-perfil img {
    width: 90px;
    height: 90px;
    display: inline-block;
    box-shadow: 0px 0px 0px 5px var(--color5);
    border-radius: 120px;
    border: 3px solid var(--color2);
}

#foto-perfil {
    margin: 15px 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color5);
}

#nome-funcionario {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    width: 100%;
    font-weight: bolder;
}

#dados-pessoal-label {
    border: 1px solid var(--color5);
}

.funcionarios-dados {
    margin: 25px 35px;
    border: 1px solid var(--color5);
    padding: 10px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.label-funcionario {
    position: absolute;
    top: -10px;
    background-color: var(--color5);
    border-radius: 5px;
    color: var(--color1);
    
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;

}
#card-usuario{
   
    margin-left: 20px;
    border: 1px solid var(--color5);
    width: 25px;
    height:25px ;
    text-align: center;
    background-color: var(--color5);
    border: 2px solid var(--color1);
    box-shadow: 0px 0px 0px 5px var(--color5);
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content:center ;
    }
    #card-usuario:hover{
      border: 2px solid var(--color5);
      box-shadow: 0px 0px 0px 5px var(--color2);
      background-color: var(--color2);
    }
#card-usuario span{
color: var(--color1);
margin-top: 18px;
}

.funcionarios-dados div {
    margin-top: 10px;
    
}
#acesso{
    text-align: center;
    text-align-last: center;
}

#card-usuario .add-funcionario {
    margin-top: 15px;
}
#usuario-dados{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
s
#label-file{
    width: 90%;
    height: 30px;
    text-align: center;
    border: 1px solid var(--color5);
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

/*Fim Configuração Ver Funcionário */
