/*Inicialização de variáveis e definições globais*/
:root {
    --color1: #FCFBE3;
    --color2: #FBCFCF;
    --color3: #CDBB99;
    --color4: #A37E58;
    --color5: #755C3B;
    --color5opacity: #755C3B99;
    --headerHeight: 22vh;
    --footerHeight: 30px;
}

body {
    background-color: var(--color1);
    margin: 0;
    font-family: "roboto";
    font-size: 16px;
    color: var(--color5);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color5);
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Configurações do cabeçalho */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 96%;
    align-self: center;
    height: var(--headerHeight);
    background-color: var(--color5);
    margin-top: 1%;
}

header #logo {
    height: 60px;
}

#systemTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

#systemTitle h1 {
    color: var(--color1);
    font-size: 1.5em;
}

#logout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
    max-height: 30px;
    width: 10vw;
    max-width: 128px;
    box-sizing: border-box;
    background-color: var(--color2);
    border: none;
    border-radius: 1em;
    font-size: .8em;
    font-weight: bold;
}

#logout:hover {
    background-color: var(--color5);
    color: var(--color1);
    cursor: pointer;
    border: 1px solid var(--color2);
}

#logout img {
    width: 15%;
}

.BorderDeco {
    width: 100%;
    height: 30%;
    background-color: var(--color2);
    clip-path: polygon(0% 0%, 0% 100%, 50% 50%, 100% 100%, 100% 0%);
}

header ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
    padding: 0;
}

header li {
    margin: 0px;
    width: 8em;
    padding: 5px 0px;
    box-sizing: border-box;
    background-color: var(--color2);
    border: 1px solid var(--color5);
    text-align: center;
}

header li.active {
    background-color: var(--color5);
    border: 1px solid var(--color2);
    border-bottom: none;
}

header li.active a {
    color: var(--color2);
}

header li:first-child {
    border-radius: 1.25em 0 0 0;
}

header li:last-child {
    border-radius: 0 1.25em 0 0;
}

/*Configurações do rodapé*/
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: var(--footerHeight);
    background-color: var(--color2);
}

footer ul {
    position: absolute;
    right: 25px;
    margin: auto 0;
}

/*Configurações das telas de login e cadastro*/
#loginBody {
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
    margin: 0;
    padding: 0;
    background-image: url('/images/brigadeiro.png');
    background-size: cover;
    border-radius: 60px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    width: 30vw;
    height: 400px;
    background-color: var(--color5opacity);
    border-radius: 30px;
}

form img.logo {
    width: 40%;
}

form h2 {
    color: var(--color1);
    font-size: 1.5em;
}

form label {
    min-width: 250px;
    width: 30vw;
    margin: 10px;
    color: var(--color1);
    text-align: center;
}

form input {
    max-width: 300px;
    width: 90%;
    background-color: var(--color4);
    border: none;
    border-radius: 5px;
    color: var(--color1);
}

form button {
    display: block;
    margin: 10px auto;
    padding: 10px 30px;
    background-color: var(--color2);
    color: var(--color5);
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}

form button:hover {
    background-color: var(--color5);
    color: var(--color1);
    cursor: pointer;
}

/*Configurações do corpo*/
main {
    display: flex;
    justify-content: center;
    width: 96%;
    align-self: center;
    background-color: var(--color5);
    color: var(--color1);
    height: calc(100vh - var(--footerHeight) - var(--headerHeight));
    overflow: auto;
}

/*Configurações do corpo Home*/
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home img {
    height: 30vh;
}

#home h2 {
    text-transform: capitalize;
}

#home p {
    margin: 0 10%;
}

/*Configurações do corpo Administração*/
#administracao {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.adminCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    width: 300px;
    border: 1px solid var(--color2);
}

.adminCardContainer section.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: var(--color2);
}

.adminCardContainer section.description {
    padding: 10px;
    color: var(--color5);
    background-color: var(--color1);
}

/* ###### FINANCEIRO ######### */

/* Configuração do menu Lateral */

main#financeiro * {
    margin-left:5 px;
    padding: 0px;
}

 aside#painel {
    height: 80vh;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    left: -250px;
}

main#financeiro #check {
    display: none;
}

main#financeiro label span#icone-sanduiche {
    cursor: pointer;
    padding: 25px;
    position: absolute;
    z-index: 1;
}

aside#painel nav {
    width: 100%;
    position: absolute;
    top: 60px;
}
/* 
aside#painel nav a {
    text-decoration: none;
} */

main#financeiro aside#painel nav a div.link{
    background-color: var(--color2);
    padding: 20px;
    font-family: arial;
    font-size: 12pt;
    transition: all .2s linear;
    color:var(--color4);
    border-bottom: 2px solid var(--color4);
    opacity: 1;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
}

main#financeiro aside#painel nav a div.link:hover{
    background-color:var(--color4);
    color: var(--color2);
}

main#financeiro nav :hover{
    background-color: var(--color4);
    color: var(--color2);
}

main#financeiro input#check:checked~#painel {
    transform: translatex(250px);
    background-color: var(--color5);
    transition: all .4s linear;
    opacity: 1;
    text-align: center;
    box-shadow: 0px 0px 9px black;
}

main#financeiro input#check:checked ~ #painel nav a div.link {
    background-color: var(--color2);
}

main#financeiro input#check:checked ~ #painel nav a div.link:hover {
    color: var(--color2);
    background-color: var(--color4);
}

main#financeiro section {
    width: 100%;
    margin-right:50px ;
}
  
main#financeiro section #periodo {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
main#financeiro section #cards {
    height: 100px;
    display: flex;
}

main#financeiro section #graficos {
    background-color: cadetblue;
    height: 100%;
    }

form#datas {
    height: 70px;
    width: 100%;
    margin-left: 50px; 
}

form#datas label {  
    font-size: 1em;
    margin-left: 15px; 
    text-align: right;
}

form#datas label#btn-label {
    color: var(--color5);
}

sss
#btn-data:hover {
    background-color: var(--color5);
    color: var(--color1);
    cursor: pointer;
    border: 1px solid var(--color2);
}


form#datas input {
    width: 120px;
    height: 30px;
    margin-left: 5px;
    background-color: var(--color2);
    color: var(--color5);
    text-align: center;
    font-weight: bold;
 
}

section#dash-board div#cards {
    display: flex;
    flex-direction: column;
}

section#dash-board div#cards div.card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

section#dash-board div#cards div.card-main {
    width: 250px;
    height: 100px;
    background-color: var(--color1);
    border-radius: 8px;
    box-shadow: 0px 2px 9px black;
    display: flex;
    align-items:center;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}


section#dash-board div#cards div.card-main div.card-left {
    width: 80px;
    height: 100px;
    border-top-left-radius: 8px;
    border-bottom-left-radius:8px 8px;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color5);
}

section#dash-board div#cards div.card-main div.card-left span {
    font-size: 35px;
}

section#dash-board div#cards div.card-main div.card-dados {
   margin-left:20px;
   color: var(--color5);
}

section#dash-board div#cards div.card-main div.card-dados div {
    font-weight: bold;
}

  