/*Inicialização de variáveis e definições globais*/
:root {
    --color1: #FCFBE3;
    --color2: #FBCFCF;
    --color3: #CDBB99;
    --color4: #A37E58;
    --color5: #755C3B;
    --color5opacity: #755C3B99;
    --headerHeight: 25vh;
    --footerHeight: 104px;
}

body {
    background-color:var(--color1);
    margin: 0;
    font-family: "roboto";
    color: var(--color5);
}

a {
    text-decoration: none;
    color: var(--color5);
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Configurações do cabeçalho*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: var(--headerHeight);
    background-color:var(--color5);
}

header img {
    width: 120px;
}

#systemTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

#systemTitle h1 {
    color: var(--color1);
    font-size: 32px;
}

#logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--color2);
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

#logout img {
    width: 20px;
    margin: 0 10px;
}

.BorderDeco {
    width: 100vw;
    height: 30px;
    background-color: var(--color2);
    clip-path: polygon(0% 0%, 0% 100%, 50% 50%, 100% 100%, 100% 0%);
}

header ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    padding:0;
}

header li {
    margin: 0px;
    width: 150px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: var(--color2);
    border: 1px solid var(--color5);
    text-align: center;
}

header li:first-child {
    border-radius: 20px 0 0 0;
}

header li:last-child {
    border-radius: 0 20px 0 0;
}

/*Configurações do rodapé*/
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:0;
    width: 100vw;
    height: var(--footerHeight);
    background-color: var(--color2);
}

footer ul {
    position: absolute;
    right: 25px;
    margin: auto 0;
}

/*Configurações do corpo*/
main {
    display: flex;
    justify-content: center;
    margin:0 20px;
    background-color: var(--color5);
    color: var(--color1);
    height: calc(100vh - var(--footerHeight) - var(--headerHeight));
    overflow: auto;
}

/*Configurações do corpo Home*/
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home img {
    height: 30vh;
}

#home h2 {
    text-transform: capitalize;
}

#home p {
    margin: 0 10%;
}

/*Configurações do corpo Administração*/
#administracao {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.adminCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    width: 300px;
    border: 1px solid var(--color2);
}

.adminCardContainer section.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: var(--color2);
}

.adminCardContainer section.description {
    padding: 10px;
    color: var(--color5);
    background-color: var(--color1);
}